#####################################################################
#   Fan Control
#####################################################################
## HOT END FAN
[heater_fan hotend_fan]
pin: EBB36:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

## PART COOLING
[fan]
pin: nhk:gpio6

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD13
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z