#####################################################################
#   Fan Control
#####################################################################
## HOT END FAN
[heater_fan hotend_fan]
pin: nhk:gpio5
tachometer_pin: nhk:gpio16
#tachometer_ppr: 2
tachometer_poll_interval: 0.00004
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan]
pin: nhk:gpio6

##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD13
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z