# This file contains pin mappings for the LDO Nitehawk-36 Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See https://docs.ldomotors.com/en/Toolboard/nitehawk-36#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-SB Toolboard Partial Config

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:gpio23
dir_pin: nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 21.88
gear_ratio: 50:10
nozzle_diameter: 0.4
filament_diameter: 1.75
min_temp: 0
max_temp: 300
min_extrude_temp: 10
max_extrude_cross_section: 5
max_extrude_only_distance: 101
pressure_advance: 0.042
control: mpc
heater_power: 40          # ← din patrons faktiske watt fra Trin 1
cooling_fan: fan          # din part cooling ([fan] på nhk:gpio6)

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: false
stealthchop_threshold: 0
run_current: 0.5        #recommend setting it below 0.7A.

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:gpio27
spi_software_sclk_pin: nhk:gpio18
spi_software_mosi_pin: nhk:gpio20
spi_software_miso_pin: nhk:gpio19

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

probe_points:
    175, 175, 20