#####################################################################
#   Probe
#####################################################################
[probe]
pin: nhk:gpio10                # PROBE-porten på Nitehawk 36, med pullup
x_offset: 0                     # Tap prober med selve dysen
y_offset: 0
z_offset: -0.5                  # STARTVÆRDI - SKAL kalibreres med PROBE_CALIBRATE før første print!
speed: 10.0
lift_speed: 15.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006        # Tap er meget repeterbar - stram tolerance anbefales
samples_tolerance_retries: 3
drop_first_result: True         # Kalico-funktion: kasserer første måling, som ofte er en outlier

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

############### Z-homing med Tap ###############
# Tap homer Z med dysen som endestop. Sørg for at din [stepper_z]
# bruger proben som virtuelt endestop - tilføj/ret disse to linjer
# i din eksisterende [stepper_z]-sektion (IKKE en ny sektion):
#
# [stepper_z]
# endstop_pin: probe:z_virtual_endstop
# homing_retract_dist: 0        # Skal være 0 med Tap
#
# Og sørg for at [safe_z_home] eller dit homing-override homer
# midt på pladen, så dysen rammer selve bedet.


#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[safe_z_home]
home_xy_position: 175, 175   ; Center of 350mm bed
speed: 100                    ; Travel speed to center
z_hop: 10                     ; Lift Z 10mm before moving
z_hop_speed: 10               ; Z hop speed

[z_tilt]
z_positions:
   -50, 18
   175, 398
   400, 18
points:
   20, 20                 
   175, 330
   340, 20
speed: 400
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
algorithm: bicubic
speed: 400
horizontal_move_z: 5
probe_count:5,5
mesh_min: 10,10
mesh_max: 320,320
fade_start: 0.6
fade_end: 10