[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mainsail.cfg]
[include MMU.cfg]
[include configs/*cfg]
[include macros/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_440057000151303530353135-if00
restart_method: command

[mcu nhk]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3434343339138E42-if00
restart_method: command

[mcu mmu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_22002C001750344D30363620-if00
restart_method: command

[mcu mmu1]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_17000B0012504D5930313820-if00 
restart_method: command

[force_move]
enable_force_move: True

[exclude_object]
 
[virtual_sdcard]
path: /home/trident/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000
max_z_velocity: 15          
max_z_accel: 350

[idle_timeout]
gcode:
  TURN_OFF_HEATERS
  M84
  SET_PIN PIN=LED VALUE=0
timeout: 600

[gcode_arcs]
resolution: 1.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 43.843
#*# pid_ki = 1.591
#*# pid_kd = 301.972
#*# pid_version = 1
#*# pid_target = 110.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*#
#*# [probe]
#*# z_offset = -0.295
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 8.85466
#*# sensor_responsiveness = 0.0748995
#*# ambient_transfer = 0.102787
#*# fan_ambient_transfer = 0.102787, 0.114665, 0.122004, 0.125145, 0.127153, 0.129846, 0.132623
