#####################################################################
#   X/Y Stepper Settings
#####################################################################
[stepper_x]  # B motor
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 350        # ret til din bed-størrelse (250/300/350)
position_max: 350
homing_speed: 60
homing_positive_dir: true
use_sensorless_homing: true  # Kalico – styrer homing internt
homing_retract_dist: 0       # Kalico kan godt retracte, men 0 er sikrest til start

[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: ^PG6               # J16 jumper på Octopus
interpolate: false
run_current: 0.8
home_current: 0.5            # reduceret strøm under homing (Kalico)
current_change_dwell_time: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 200           # startværdi – skal tunes

[stepper_y]  # A motor
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 60
homing_positive_dir: true
use_sensorless_homing: true
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: ^PG9              # J17 jumper på Octopus
interpolate: false
run_current: 0.8
home_current: 0.5
current_change_dwell_time: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
driver_SGTHRS: 200